[flake8]
ignore = __init__.py
max-line-length = 100
max-complexity = 12
extend-select = B902, B903, B907, B950
extend-ignore = 
    # Black compatability
    E203,
    # Replaced by B950
    E501,
    # Handled by B001
    E722