.vscode/
node_modules/
__pycache__/
dump/
dat/
src/data/sugoi-model/*
!sugoi-readme.txt
*.log
.venv*/
.mingit/
umatl.json
token.txt
dump-diff.json
src/data/static_dump_old.json
src/scripts/*
!deepl-translator.user.js
!install-umatl.bat
logs/
temp/
honeypot/